html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'DM Serif Display', serif;  padding-top: 140px;
  font-size: medium;
  padding-bottom: 40px;
  background-color: #78d2de;
}

.form-signin .welcome {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .welcome .form-floating:focus-within {
  z-index: 2;
}

.welcome .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.welcome .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 555px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 555px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 555px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 555px),
only screen and (                min-resolution: 192dpi) and (max-width: 555px),
only screen and (                min-resolution: 2dppx)  and (max-width: 555px) {  

    .form-signin {
      position: fixed;
      right: 14%;
      width: 100%;
      padding: 15px;
      margin: auto;
    }

    .image {
      margin-top: 320px;
      margin-bottom: -320px;
    }

  }