html {
  height: 100%;
  min-height: 100%;
}

body {
  align-items: center;
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #78d2de;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}
